name: Run Tests

on:
  push:
    paths-ignore:
      - '.*ignore'
      - '.editorconfig'
      - '*.json'
      - 'CHANGELOG.md'
      - 'configure-package.js'
      - 'LICENSE'
      - 'README.md'
    branches:
      - main

  pull_request:

env:
  USE_CODECOV_SERVICE: yes

jobs:

  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      fail-fast: true
      matrix:
        node-version: [18, 20]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Run the tests with coverage
        run: bun run test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: coverage
